@import 'tailwindcss';

@tailwind utilities;
:root {
  --button-color: #309fe9;
  --main-color: #000000;
  --page-color: #ffffff;
}
html {
  font-size: 10px;
  font-family: 'Bricolage Grotesque', sans-serif;
  overflow-x: hidden;
}
body {
  font-size: 1.6rem; /* For Responsive Layout*/
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
}
/* 
* {
  outline: 1px solid red !important;
} */
