@import "tailwindcss";

@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
:root{
  --button-color: #309FE9;
  --main-color: #030F1B;
  --page-color: #FFFFFF;

}
html {
  font-size: 10px;
  font-family: "Inter", sans-serif;
}
body {
  font-size: 1.6rem; /* For Responsive Layout*/
}