@import "tailwindcss";

@tailwind utilities;
:root{
  --button-color: #309FE9;
  --main-color: #000000;
  --page-color: #FFFFFF;

}
html {
  font-size: 10px;
  font-family: "Bricolage Grotesque", sans-serif;
}
body {
  font-size: 1.6rem; /* For Responsive Layout*/
}

* {
  outline: 1px solid red !important;
}
